<header class="site-header">

  <nav class="uk-navbar uk-margin-large-bottom nav-full-width" >
    <div class="uk-container uk-container-center">

      <a class="uk-navbar-brand uk-hidden-small" href="{{ "/" | prepend: site.baseurl }}"></a>
      <ul class="uk-navbar-nav uk-hidden-small">
        {% include nav.html %}
      </ul>
      <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
      <div class="uk-navbar-brand uk-navbar-center uk-visible-small">
        <a href="{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a>
      </div>
  </nav>

  <div id="offcanvas" class="uk-offcanvas">
      <div class="uk-offcanvas-bar">
          <ul class="uk-nav uk-nav-offcanvas">
            {% include nav.html %}
          </ul>
      </div>
  </div>

</header>